.ex-cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
    font-size: 20px;
    font-weight: bold;
}

.name{
    width: 7rem;
}
.price{
    width: 7rem;
}
.rank{
    width: 7rem;
}

.btns button{
   height: 2rem;
   background-color: orange;
   border: none;
   margin-left: 30px;
   width: 5rem;
   border-radius: 10px;
   margin-top: 60px;
}
.btns{
    margin-left: 12rem;
}


@media only screen and (max-width: 600px) {
  .image img{
    height: 50px;
    margin-left: 40px;
    margin-right: 20px;
  }
    .name{
       font-size: 15px;
       width: 10rem;
    }
    .price{
      font-size: 15px;
      width:  10rem;
    }
    .rank{
     font-size: 15px;
    }
    .ex-cards{
        display: flex;
        justify-content: space-between;
    }
    

}



.signup,
.add-product {
  width: 50%;
  margin: 5vh auto;
  background-color: #0d2738;
  color: rgba(255, 255, 255, 0.908);
  border: 2px solid #0d2738;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 80%;
  background-color: #f2faff;
  color: rgba(0, 19, 44, 0.931);
  border-radius: 30px;
  margin: 5vh 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  width: 60%;
  height: 4vh;
  margin: 3vh 0;
  padding: 3px 10px;
  border: none;
  border-radius: 20px;
  background-color: #dfdfdf;
  color: rgb(0, 0, 0);
}

#signup-btn,
#add-product-btn {
  width: 40%;
  height: 5vh;
  margin: 3vh 0;
  padding: 3px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  background-color: #0d2738;
  color: white;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-btn {
  /* width: 40%; */
  height: 5vh;
  margin: 3vh 0;
  padding: 3px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: medium;

  background-color: white;
  color: #0d2738;
}

#login-btn a {
  color: #0d2738;
  text-decoration: none;
}

.login {
  width: 50%;
  margin: 5vh auto;
  background-color: #0d2738;
  color: rgba(255, 255, 255, 0.908);
  border: 2px solid #0d2738;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.expired h1 {
  text-align: center;
}